<?php 
$DB_Host = 'localhost';
$DB_User = 'root';
$DB_Pwd = '';
$DB_Database = 'test';
/*
$SIGN_String = 'testkorea';

$REDIS_Host = '127.0.0.1';
$REDIS_Port = 6379;
$REDIS_Code_Time = 30;
*/
$sms_cfg = array(
    'userid'    => 299,
    'account'   => "jbwlkj",
    'password'  => "520620",
);



$link = @mysqli_connect($DB_Host,$DB_User,$DB_Pwd);
if (!$link) {
    close_error(null,0);
    //exit('error('.mysqli_connect_errno().'):'.mysqli_connect_error());
}
if (!mysqli_select_db($link,$DB_Database)) {
    close_error($link,0);
    //echo 'error('.mysqli_errno($link).'):'.mysqli_error($link);
    //mysqli_close($link);
    //die;
}
mysqli_set_charset($link,'utf8');

/*
$redis=new Redis();
$redis->connect($REDIS_Host,$REDIS_Port);
*/

function close_error($link,$code){
    @$link->close();
    $arr = array(
        'result' => $code
    );
    echo json_encode($arr);
    exit();
}


function sendMessage($phone, $msg) {
    global $sms_cfg;
    $url= "http://120.76.25.160:7788/sms.aspx";
    $data['action'] = "send";
    $data['userid']      = $sms_cfg['userid'];
    $data['account']     = $sms_cfg['account'];
    $data['password']    = $sms_cfg['password'];

    $data['mobile'] = $phone;
    $data['content'] = $msg;
    $data['sendTime'] = "";
    $data['extno'] = "";
    $sendResult = false;
    $ch = curl_init ();
    curl_setopt ( $ch, CURLOPT_URL, $url );
    curl_setopt ( $ch, CURLOPT_POST, 1 );
    curl_setopt ( $ch, CURLOPT_HEADER, 0 );
    curl_setopt ( $ch, CURLOPT_RETURNTRANSFER, 1 );
    curl_setopt ( $ch, CURLOPT_POSTFIELDS, $data );
    $result = curl_exec ( $ch );
    curl_close ( $ch );
    $xml = simplexml_load_string($result);
    if($xml){
        $arr = (array)$xml;
        if($arr['returnstatus'] == 'Success'){
            $sendResult = true;
        }
    }
    return $sendResult;
}


function isValidPhone($phone_number)
{
    if (is_null($phone_number)) {
        return false;
    }

    if (strlen($phone_number) != 11)
        return false;

    if (preg_match("/^[0-9]+$/", $phone_number) == 0)
        return false;

    return true;
}
